In [43]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import MetaData, create_engine, Column, Integer, String, Float, Text, Numeric
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [23]:
file1 = os.path.join(".","hawaii_measurements.csv")
file2 = os.path.join(".","hawaii_stations.csv")
measurements = pd.read_csv(file1)
stations = pd.read_csv(file2)

In [24]:
measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [32]:
stations

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [34]:
measurements.dropna(axis = 0, how = "any", inplace = True)
measurements.reset_index(drop = True, inplace = True)
measurements.reset_index(drop = False, inplace = True)
stations.reset_index(drop = False, inplace = True)
measurements.to_csv('clean_measurements.csv')
stations.to_csv('clean_stations.csv')
measurements.head()

   index      station        date  prcp  tobs
0      0  USC00519397  2010-01-01  0.08    65
1      1  USC00519397  2010-01-02  0.00    63
2      2  USC00519397  2010-01-03  0.00    74
3      3  USC00519397  2010-01-04  0.00    76
4      4  USC00519397  2010-01-07  0.06    70

In [35]:
clean1 = os.path.join(".", "clean_measurements.csv")
clean2 = os.path.join(".", "clean_stations.csv")
c_m = pd.read_csv(clean1)
c_s = pd.read_csv(clean2)

In [36]:
engine = create_engine('sqlite:///hawaii.sqlite')
conn = engine.connect()

In [37]:
class Measurements(Base):
    __tablename__ = 'measurements'

    index = Column(Integer, primary_key=True)
    station = Column(Text)
    date = Column(Text)
    prcp = Column(Float)
    tobs = Column(Integer)

class Stations(Base):
    __tablename__ = 'stations'

    index = Column(Integer)
    station = Column(Text, primary_key=True)
    name = Column(Text)
    latitude = Column(Numeric)
    longitude = Column(Numeric)
    elevation = Column(Float)

In [38]:
Base.metadata.create_all(engine)

In [39]:
c_m_data = c_m.to_dict(orient='records')
c_s_data = c_s.to_dict(orient='records')

In [41]:
c_s_data[0]

{'Unnamed: 0': 0,
 'elevation': 3.0,
 'index': 0,
 'latitude': 21.2716,
 'longitude': -157.8168,
 'name': 'WAIKIKI 717.2, HI US',
 'station': 'USC00519397'}

In [44]:
metadata = MetaData(bind=engine)
metadata.reflect()

In [45]:
m_table = sqlalchemy.Table('measurements', metadata, autoload=True)
c_table = sqlalchemy.Table('stations', metadata, autoload=True)

In [46]:
conn.execute(m_table.delete())
conn.execute(c_table.delete())

In [47]:
conn.execute(m_table.insert(), c_m_data)

In [48]:
conn.execute(c_table.insert(), c_s_data)

In [50]:
conn.execute("select * from stations limit 5").fetchall()

[(0, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (1, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (2, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (3, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (4, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)]